
/*ESERCIZIO 1.
In questo esercizio il nostro quadratino
dovrà diventare gradualmente rosso quando
 l'utente e on hover con il mouse  */

.ex-1-square {
  transition:1 s;
}

.ex-1-square:hover {
  background:red;
}

/* ESERCIZIO 2
Cliccando, il nostro quadratino diventerà
 gradualmente un enorme rettangolo */

 .ex-2-square {
   transition: 1.5s ease-out;
 }

.ex-2-square:active {
  width:100%;
}

/* ESERCIZIO 3
l nostro quadratino si trasforma. On hover
diventerà gradualmente un cerchio */

.ex-3-square {
  transition: 2s linear;
}

.ex-3-square:hover {
  border-radius: 100%;
}

/* ESERCIZIO 4
Il nostro povero quadratino ora
 scomparirà gradualmente */

.ex-4-square {
  transition: 1s linear;
}

.ex-4-square:hover {
  opacity:0;
}

/* ESERCIZIO 5
Il nostro quadratino diventerà un
 pochino più grande on hover,
 e più piccolo on click */

.ex-5-square {
  transition: 2s linear;
}

.ex-5-square:hover {
  
}

.ex-5-square:active {

}
